.header {
	height: 130px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2c2c43;
	font-size: 1.6em;
	text-align: center;
	box-shadow: 1px 0px 3px black;
}
.App-title {
	margin-left: 15%;
	display: inline;
	white-space: nowrap;
}

@media all and (max-width: 900px) {
	/* css for mobile devices */
	.header {
		height: 80px;
	}
	.App-title {
		font-size: 1.3em;
		margin-left: 5%;
	}
}
