
.header {
  background: #615D63;
  height: 100px;
  color: white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px black;
}

.header-title {
  font-size: 1.5em;
}
hr {
   color: #D0CBD1;
   width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
