.home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.profileImageWrap {
	margin-top: auto;
	margin-bottom: auto;
}
.profileImage {
	width: 350px;
	height: 350px;
	align-items: center;
	background-image: url('../images/marc.jpg');
	background-size: cover;
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
	box-shadow: 2px 0px 3px grey;
}
.links ul {
	display: inline;
	margin-left: 0;
}
.links li {
	display: block;
	font-size: 3em;
	margin-right: 0;
	padding-bottom: 10%;
}

@media all and (max-width: 900px) {
	/* css for mobile devices */
	.profileImage {
		width: 0px;
		height: 0px;
	}
	.links li {
		font-size: 1.5em;
	}
}
