.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
}
.profileDesc {
  padding-left: 20px;
}
.mediaLinks {
  padding-top: 20px;
  display:flex;
  align-items: flex-center;
  justify-content: center;
}
li img {
  height: 60px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}
