.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mediaLinks {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 55%;
  margin: auto;
  padding-top: 5%;
}
.socialLogo{
  width: 40px;
}
.profileDesc { padding-bottom: 5%;}
a { text-decoration: none; }
hr { width: 100%; margin:auto; }
