@font-face {
  font-family: Muli-Black, sans-serif;
  src: url(../fonts/Muli-Black.ttf);
}
@font-face {
  font-family: Muli-Bold, sans-serif;
  src: url(../fonts/Muli-Bold.ttf);
}
@font-face {
  font-family: Muli-ExtraBold, sans-serif;
  src: url(../fonts/Muli-ExtraBold.ttf);
}
@font-face {
  font-family: Muli-Regular, sans-serif;
  src: url(../fonts/Muli-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Muli-Black';
}
h1 {
  font-family: 'Muli-Bold';
}
