@font-face {
	font-family: 'SourceCodePro-Black';
	src: url(../fonts/Source_Code_Pro/SourceCodePro-Black.ttf);
}
@font-face {
	font-family: 'SourceCodePro-Bold';
	src: url(../fonts/Source_Code_Pro/SourceCodePro-Bold.ttf);
}
@font-face {
	font-family: 'SourceCodePro-Regular';
	src: url(../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}
@font-face {
	font-family: 'SourceCodePro-Light';
	src: url(../fonts/Source_Code_Pro/SourceCodePro-Light.ttf);
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-family: 'SourceCodePro-Light';
}
h1 {
	font-family: 'SourceCodePro-Regular';
}
h2 {
	font-family: 'SourceCodePro-Regular';
}
a {
	font-family: 'SourceCodePro-Regular';
	text-decoration: none;
	color: #000000;
}
a:hover {
	opacity: 0.5;
}
li {
	display: inline-block;
}
