@keyframes slideInFromRight {
	0% {
		transform: translateX(+100%);
	}
	100% {
		transform: translateX(0);
	}
}
.navigation {
	animation: 1s ease-out 0s 1 slideInFromRight;
	width: 10%;
	margin-right: 15%;
}
.navIcon {
	width: 60px;
}
@media all and (max-width: 900px) {
	.navigation {
		width: 80px;
		margin-right: 5%;
	}
	.navIcon {
		width: 40%;
	}
}
