.postLinks {
	-webkit-padding-start: 0px;
	overflow: wrap;
	padding-bottom: 5%;
}
.postLink {
	display: inline;
	font-size: 0.8em;
	width: 100%;
	padding-left: 0;
	padding-right: 4%;
	padding-bottom: 50px;
}
h1 {
	font-size: 2em;
}
