.postLinks {
  -webkit-padding-start: 0px;
  width: 100%;
  white-space: nowrap;
}
.postLink {
  font-size: 1.2em;
  width: 100%;
  padding-left: 0;
  padding-bottom: 50px;
}
a:hover {
  color: grey;
}
a {
  color: black;
}
